.navbar{
    background-color: rosybrown;
    color: cornsilk;
}

.h1tag{
    
    text-align: left;
    
}

.ptag{
    font-size: small;
    
}

.heading{
    background-color: rosybrown;
    color: cornsilk;
}

